In [1]:
import pandas as pd
import glob

In [2]:
%ls

201709-citibike-tripdata.csv      201804-citibike-tripdata.csv.zip
201709-citibike-tripdata.csv.zip  201805-citibike-tripdata.csv
201710-citibike-tripdata.csv      201805-citibike-tripdata.csv.zip
201710-citibike-tripdata.csv.zip  201806-citibike-tripdata.csv
201711-citibike-tripdata.csv      201806-citibike-tripdata.csv.zip
201711-citibike-tripdata.csv.zip  201807-citibike-tripdata.csv
201712-citibike-tripdata.csv      201807-citibike-tripdata.csv.zip
201712-citibike-tripdata.csv.zip  201808-citibike-tripdata.csv
201801-citibike-tripdata.csv      201808-citibike-tripdata.csv.zip
201801-citibike-tripdata.csv.zip  201809-citibike-tripdata.csv
201802-citibike-tripdata.csv      201809-citibike-tripdata.csv.zip
201802-citibike-tripdata.csv.zip  CitiBike Month Data.ipynb
201804-citibike-tripdata.csv

In [3]:
citi = glob.glob('*.csv')

In [4]:
citi[:3]

['201709-citibike-tripdata.csv',
 '201809-citibike-tripdata.csv',
 '201801-citibike-tripdata.csv']

In [5]:
frame = pd.DataFrame()

In [6]:
list_ = []

In [7]:
for file_ in citi:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)

In [8]:
frame = pd.concat(list_)

In [9]:
frame

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331.0,Riverside Dr & W 104 St,40.801343,-73.971146,3328.0,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101.0,N 12 St & Bedford Ave,40.720798,-73.954847,3100.0,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3141.0,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,473.0,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427.0,Lafayette St & Jersey St,40.724305,-73.996010,3431.0,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1
5,2089,2017-09-01 00:01:20,2017-09-01 00:36:09,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3358.0,Garfield Pl & 8 Ave,40.671198,-73.974841,17584,Subscriber,1975.0,2
6,121,2017-09-01 00:01:22,2017-09-01 00:03:23,3357.0,W 106 St & Amsterdam Ave,40.800836,-73.966449,3343.0,W 107 St & Columbus Ave,40.799757,-73.962113,28581,Subscriber,1990.0,1
7,408,2017-09-01 00:01:39,2017-09-01 00:08:27,470.0,W 20 St & 8 Ave,40.743453,-74.000040,388.0,W 26 St & 10 Ave,40.749718,-74.002950,30470,Subscriber,1961.0,1
8,485,2017-09-01 00:01:41,2017-09-01 00:09:46,513.0,W 56 St & 10 Ave,40.768254,-73.988639,529.0,W 42 St & 8 Ave,40.757570,-73.990985,18150,Subscriber,1984.0,1
9,220,2017-09-01 00:01:40,2017-09-01 00:05:21,405.0,Washington St & Gansevoort St,40.739323,-74.008119,358.0,Christopher St & Greenwich St,40.732916,-74.007114,28200,Subscriber,1992.0,1
10,1111,2017-09-01 00:01:50,2017-09-01 00:20:22,412.0,Forsyth St & Canal St,40.715816,-73.994224,497.0,E 17 St & Broadway,40.737050,-73.990093,29803,Subscriber,2000.0,2
11,894,2017-09-01 00:01:54,2017-09-01 00:16:48,412.0,Forsyth St & Canal St,40.715816,-73.994224,253.0,W 13 St & 5 Ave,40.735439,-73.994539,26672,Subscriber,NaN,0
12,763,2017-09-01 00:01:55,2017-09-01 00:14:38,3256.0,Pier 40 - Hudson River Park,40.727714,-74.011296,3461.0,Murray St & Greenwich St,40.714852,-74.011223,14708,Subscriber,1992.0,1
13,1321,2017-09-01 00:01:59,2017-09-01 00:24:00,401.0,Allen St & Rivington St,40.720196,-73.989978,514.0,12 Ave & W 40 St,40.760875,-74.002777,30010,Subscriber,1977.0,2
14,953,2017-09-01 00:02:00,2017-09-01 00:17:53,434.0,9 Ave & W 18 St,40.743174,-74.003664,312.0,Allen St & Stanton St,40.722055,-73.989111,25241,Subscriber,1974.0,2
15,1326,2017-09-01 00:02:01,2017-09-01 00:24:07,507.0,E 25 St & 2 Ave,40.739126,-73.979738,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,20025,Customer,NaN,0
16,815,2017-09-01 00:02:02,2017-09-01 00:15:37,412.0,Forsyth St & Canal St,40.715816,-73.994224,382.0,University Pl & E 14 St,40.734927,-73.992005,30184,Subscriber,1999.0,1
17,258,2017-09-01 00:02:13,2017-09-01 00:06:32,3286.0,E 89 St & 3 Ave,40.780628,-73.952167,3290.0,E 89 St & York Ave,40.777945,-73.946041,16511,Subscriber,1982.0,2
18,515,2017-09-01 00:02:14,2017-09-01 00:10:50,312.0,Allen St & Stanton St,40.722055,-73.989111,382.0,University Pl & E 14 St,40.734927,-73.992005,16262,Subscriber,1989.0,1
19,621,2017-09-01 00:02:17,2017-09-01 00:12:39,285.0,Broadway & E 14 St,40.734546,-73.990741,266.0,Avenue D & E 8 St,40.723684,-73.975748,25979,Subscriber,1981.0,1
20,455,2017-09-01 00:02:16,2017-09-01 00:09:52,479.0,9 Ave & W 45 St,40.760193,-73.991255,448.0,W 37 St & 10 Ave,40.756604,-73.997901,25463,Subscriber,1990.0,2
21,2424,2017-09-01 00:02:21,2017-09-01 00:42:46,527.0,E 33 St & 2 Ave,40.744023,-73.976056,394.0,E 9 St & Avenue C,40.725213,-73.977688,30498,Subscriber,1988.0,1
22,372,2017-09-01 00:02:22,2017-09-01 00:08:35,346.0,Bank St & Hudson St,40.736529,-74.006180,3224.0,W 13 St & Hudson St,40.739974,-74.005139,17512,Subscriber,1993.0,1
23,763,2017-09-01 00:02:26,2017-09-01 00:15:09,409.0,DeKalb Ave & Skillman St,40.690649,-73.956431,3413.0,Wyckoff St & 3 Ave,40.682755,-73.982586,20235,Subscriber,1977.0,2
24,408,2017-09-01 00:02:39,2017-09-01 00:09:28,409.0,DeKalb Ave & Skillman St,40.690649,-73.956431,275.0,Washington Ave & Greene Ave,40.686501,-73.965633,16168,Subscriber,1983.0,2
25,398,2017-09-01 00:02:54,2017-09-01 00:09:33,450.0,W 49 St & 8 Ave,40.762272,-73.987882,480.0,W 53 St & 10 Ave,40.766697,-73.990617,30507,Subscriber,1976.0,1
26,1499,2017-09-01 00:03:06,2017-09-01 00:28:06,238.0,Bank St & Washington St,40.736197,-74.008592,518.0,E 39 St & 2 Ave,40.747804,-73.973442,28602,Subscriber,1978.0,1
27,461,2017-09-01 00:03:09,2017-09-01 00:10:50,346.0,Bank St & Hudson St,40.736529,-74.006180,128.0,MacDougal St & Prince St,40.727103,-74.002971,29878,Subscriber,1977.0,1
28,1013,2017-09-01 00:03:15,2017-09-01 00:20:08,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,28755,Subscriber,1967.0,1
29,217,2017-09-01 00:03:17,2017-09-01 00:06:55,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,460.0,S 4 St & Wythe Ave,40.712859,-73.965903,25443,Subscriber,1990.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897562,1456,2017-10-31 18:09:44,2017-10-31 18:34:00,362.0,Broadway & W 37 St,40.751726,-73.987535,3177.0,W 84 St & Broadway,40.786795,-73.977112,29101,Subscriber,1989.0,1
1897563,877,2017-10-31 18:10:46,2017-10-31 18:25:24,362.0,Broadway & W 37 St,40.751726,-73.987535,545.0,E 23 St & 1 Ave,40.736502,-73.978095,31603,Subscriber,1982.0,1
1897564,1035,2017-10-31 18:10:48,2017-10-31 18:28:03,362.0,Broadway & W 37 St,40.751726,-73.987535,403.0,E 2 St & 2 Ave,40.725029,-73.990697,25074,Subscriber,1989.0,1
1897565,1517,2017-10-31 18:11:34,2017-10-31 18:36:52,362.0,Broadway & W 37 St,40.751726,-73.987535,311.0,Norfolk St & Broome St,40.717227,-73.988021,26931,Subscriber,1949.0,1
1897566,302,2017-10-31 18:12:06,2017-10-31 18:17:08,362.0,Broadway & W 37 St,40.751726,-73.987535,3431.0,E 35 St & 3 Ave,40.746524,-73.977885,28882,Subscriber,1991.0,1
1897567,2716,2017-10-31 18:15:04,2017-10-31 19:00:20,362.0,Broadway & W 37 St,40.751726,-73.987535,467.0,Dean St & 4 Ave,40.683125,-73.978951,32464,Subscriber,1983.0,1
1897568,467,2017-10-31 18:15:10,2017-10-31 18:22:58,362.0,Broadway & W 37 St,40.751726,-73.987535,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,31274,Subscriber,1961.0,1
1897569,3051,2017-10-31 18:16:35,2017-10-31 19:07:27,362.0,Broadway & W 37 St,40.751726,-73.987535,3076.0,Scholes St & Manhattan Ave,40.708704,-73.944862,21390,Subscriber,1981.0,2
1897570,586,2017-10-31 18:19:50,2017-10-31 18:29:36,362.0,Broadway & W 37 St,40.751726,-73.987535,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,17240,Subscriber,1990.0,1
1897571,478,2017-10-31 18:24:50,2017-10-31 18:32:49,362.0,Broadway & W 37 St,40.751726,-73.987535,3641.0,Broadway & W 25 St,40.742869,-73.989186,15096,Subscriber,1972.0,2
1897572,324,2017-10-31 18:26:27,2017-10-31 18:31:51,362.0,Broadway & W 37 St,40.751726,-73.987535,490.0,8 Ave & W 33 St,40.751551,-73.993934,25025,Subscriber,1976.0,1
1897573,1402,2017-10-31 18:26:49,2017-10-31 18:50:11,362.0,Broadway & W 37 St,40.751726,-73.987535,445.0,E 10 St & Avenue A,40.727408,-73.981420,15889,Subscriber,1961.0,1
1897574,468,2017-10-31 18:30:43,2017-10-31 18:38:32,362.0,Broadway & W 37 St,40.751726,-73.987535,518.0,E 39 St & 2 Ave,40.747804,-73.973442,28152,Subscriber,1984.0,1
1897575,385,2017-10-31 18:31:32,2017-10-31 18:37:57,362.0,Broadway & W 37 St,40.751726,-73.987535,450.0,W 49 St & 8 Ave,40.762272,-73.987882,32562,Subscriber,1987.0,1
1897576,424,2017-10-31 18:42:50,2017-10-31 18:49:54,362.0,Broadway & W 37 St,40.751726,-73.987535,2021.0,W 45 St & 8 Ave,40.759291,-73.988597,14773,Subscriber,1991.0,1
1897577,165,2017-10-31 18:50:46,2017-10-31 18:53:32,362.0,Broadway & W 37 St,40.751726,-73.987535,492.0,W 33 St & 7 Ave,40.750200,-73.990931,17594,Subscriber,1974.0,1
1897578,603,2017-10-31 18:51:16,2017-10-31 19:01:20,362.0,Broadway & W 37 St,40.751726,-73.987535,164.0,E 47 St & 2 Ave,40.753231,-73.970325,26663,Subscriber,1989.0,1
1897579,901,2017-10-31 19:02:37,2017-10-31 19:17:38,362.0,Broadway & W 37 St,40.751726,-73.987535,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,30930,Subscriber,1983.0,1
1897580,657,2017-10-31 19:15:32,2017-10-31 19:26:30,362.0,Broadway & W 37 St,40.751726,-73.987535,497.0,E 17 St & Broadway,40.737050,-73.990093,18006,Subscriber,1991.0,1
1897581,474,2017-10-31 19:46:12,2017-10-31 19:54:06,362.0,Broadway & W 37 St,40.751726,-73.987535,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,20375,Subscriber,1993.0,1
1897582,229,2017-10-31 20:02:00,2017-10-31 20:05:49,362.0,Broadway & W 37 St,40.751726,-73.987535,477.0,W 41 St & 8 Ave,40.756405,-73.990026,27575,Subscriber,1951.0,1
1897583,765,2017-10-31 20:18:00,2017-10-31 20:30:45,362.0,Broadway & W 37 St,40.751726,-73.987535,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,28145,Subscriber,1993.0,1
1897584,681,2017-10-31 20:21:09,2017-10-31 20:32:31,362.0,Broadway & W 37 St,40.751726,-73.987535,499.0,Broadway & W 60 St,40.769155,-73.981918,29059,Subscriber,1978.0,1
1897585,894,2017-10-31 20:27:16,2017-10-31 20:42:10,362.0,Broadway & W 37 St,40.751726,-73.987535,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,20123,Subscriber,1993.0,1
1897586,344,2017-10-31 20:50:41,2017-10-31 20:56:26,362.0,Broadway & W 37 St,40.751726,-73.987535,472.0,E 32 St & Park Ave,40.745712,-73.981948,20933,Subscriber,1988.0,1
1897587,1769,2017-10-31 20:59:26,2017-10-31 21:28:55,362.0,Broadway & W 37 St,40.751726,-73.987535,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,20654,Subscriber,1961.0,2
1897588,376,2017-10-31 21:06:54,2017-10-31 21:13:10,362.0,Broadway & W 37 St,40.751726,-73.987535,3259.0,9 Ave & W 28 St,40.749370,-73.999234,15162,Subscriber,1983.0,1
1897589,3189,2017-10-31 21:10:24,2017-10-31 22:03:33,362.0,Broadway & W 37 St,40.751726,-73.987535,3158.0,W 63 St & Broadway,40.771639,-73.982614,15666,Subscriber,1955.0,1
1897590,142,2017-10-31 21:48:23,2017-10-31 21:50:46,362.0,Broadway & W 37 St,40.751726,-73.987535,465.0,Broadway & W 41 St,40.755136,-73.986580,28203,Subscriber,1971.0,1
1897591,391,2017-10-31 22:40:23,2017-10-31 22:46:55,362.0,Broadway & W 37 St,40.751726,-73.987535,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,24867,Subscriber,1990.0,1

In [10]:
df.to_csv('citi_all.csv')

In [11]:
%ls

201709-citibike-tripdata.csv      201804-citibike-tripdata.csv.zip
201709-citibike-tripdata.csv.zip  201805-citibike-tripdata.csv
201710-citibike-tripdata.csv      201805-citibike-tripdata.csv.zip
201710-citibike-tripdata.csv.zip  201806-citibike-tripdata.csv
201711-citibike-tripdata.csv      201806-citibike-tripdata.csv.zip
201711-citibike-tripdata.csv.zip  201807-citibike-tripdata.csv
201712-citibike-tripdata.csv      201807-citibike-tripdata.csv.zip
201712-citibike-tripdata.csv.zip  201808-citibike-tripdata.csv
201801-citibike-tripdata.csv      201808-citibike-tripdata.csv.zip
201801-citibike-tripdata.csv.zip  201809-citibike-tripdata.csv
201802-citibike-tripdata.csv      201809-citibike-tripdata.csv.zip
201802-citibike-tripdata.csv.zip  CitiBike Month Data.ipynb
201804-citibike-tripdata.csv      citi_all.csv

## Trip Duration By Birth Year

In [12]:
tripduration = frame.groupby(['birth year'], as_index=False)['tripduration'].mean()
# tripduration = data.groupby('birth year')['tripduration'].mean()
tripduration.head()

   birth year  tripduration
0      1884.0   1404.000000
1      1885.0    865.571802
2      1886.0    899.812500
3      1887.0    745.176101
4      1888.0   1010.485772

In [13]:
tripduration.to_csv('avgtripduration.csv')

## Top Station

In [15]:
topstation = frame.groupby(['end station id']).size().reset_index(name='counts')
topstation.sort_values('counts', ascending=False).head(10)

     end station id  counts
265           519.0  164454
246           497.0  120241
164           402.0  117418
184           426.0  115454
191           435.0  115274
68            285.0  100625
260           514.0   94346
228           477.0   92260
471          3255.0   90490
239           490.0   90202

## Gender Count

In [16]:
gendertype = frame['gender']
gendertype.head()

0    1
1    1
2    1
3    1
4    1
Name: gender, dtype: int64

In [17]:
male_count = 0
female_count = 0

for type in gendertype:
    if type == 1:
        male_count +=1
    elif type == 2:
        female_count +=1
print(f'male count: {male_count}, female count: {female_count}')

male count: 12367213, female count: 4301886

## Peak Times Hours

In [18]:
peaktimes = frame.groupby(['starttime']).size().reset_index(name='counts')
peaktimes.sort_values('counts', ascending=False).head()

                   starttime  counts
2214107  2017-10-30 18:02:39      13
1747375  2017-10-17 18:18:03      12
1225389  2017-10-03 17:54:05      12
467983   2017-09-14 08:23:28      11
1556337  2017-10-12 17:03:44      11

## Start Stations

In [19]:
topstation = frame.groupby(['start station id']).size().reset_index(name='counts')
topstation.sort_values('counts', ascending=False).head(10)

     start station id  counts
264             519.0  165564
246             497.0  116192
191             435.0  113645
164             402.0  112908
184             426.0  106450
68              285.0  100447
228             477.0   92384
259             514.0   91804
239             490.0   90783
450            3255.0   89043

In [20]:
bottomstation = frame.groupby(['start station id']).size().reset_index(name='counts')
bottomstation.sort_values('counts', ascending=True).head(10)

     start station id  counts
448            3250.0       1
775            3633.0       1
301            3040.0       5
15              153.0       6
446            3245.0       6
429            3215.0       8
634            3487.0      10
777            3636.0      11
300            3036.0      12
635            3488.0      14

## Subscriber Customer Count

In [21]:
usertype = frame['usertype']
usertype.head()

0    Subscriber
1    Subscriber
2    Subscriber
3    Subscriber
4    Subscriber
Name: usertype, dtype: object

In [22]:
customer_count = 0
subscriber_count = 0

for type in usertype:
    if type == "Customer":
        customer_count +=1
    elif type == "Subscriber":
        subscriber_count +=1
print(customer_count, subscriber_count)

2089118 16323338

In [23]:
len(frame)

18412456